.Checkout{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../public/animated-bg.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.twocol{
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 12px;
    background: white;
    margin: 100px auto;
    box-shadow: -1px -1px 60px 0px rgba(0,0,0,0.1);
}
.overflow{
    overflow: scroll;
}
.left, .right{
    width: 100%;
    padding: 10px;
}
.PayImg{
    width: 40%;
    height: 40%;
    margin: 20px auto;
}
.form{
    display: grid;
    grid-template-columns: 1fr;
    gap: 7px;
}
.input{
    padding: 10px;
    border: 0.1px solid silver;
    border-radius: 4px;
    outline: none;
}
.btn{
    padding: 10px 20px;
    border: none;
    width: 20%;
    border-radius: 34px;
    background: linear-gradient(90deg, gold, #ff3000);
    color: #fff;
}
.btn:active{
    background: #000;
    color: #ff3000;
}
.table{
    width: 100%;
    padding: 10px;
}
.td, .th{
    padding: 5px;
    border: 0.1px solid silver;
    text-align: center;
}
.th{
    background: linear-gradient(50deg, gold, #ff3000);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
@media only screen and (max-width: 768px) {
    .twocol{
        grid-template-columns: 1fr;
        width: 95%;
    }
    .left{
        overflow: scroll;
    }
    .btn{
        width: 90%;
        margin: 0 auto;
    }
    .td, .th{
        text-align: center;
        padding: 15px;
    }
}