.courses {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: url(../public/hero-glow.svg);
    background-color: rgb(17, 17, 85);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
  }
  .twocol {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 80%;
    height: 70%;
    margin: 20px auto;
  }
  .leftcol {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px;
  }
  .rightcol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    z-index: 1;

    border-radius: 6px;
    overflow: hidden;
    animation: upperneche 6s ease-in-out infinite;
  }
  .HeroImg{
    width: 500px;
    height: 500px;
  }
  .deem {
    padding: 5px;
    border: none;
    border-radius: 4px;
    background: rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(10px);
    color: white;
    width: 290px;
    margin: 2px 0px;
  }
  
  .h3 {
    color: white;
    font-size: 26px;
    font-weight: 400;
    font-family: Nunito;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    margin: 2px 0px;
  }
  .h1 {
    font-size: 34px;
    font-weight: 700;
    font-family: Nunito;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    background: linear-gradient(50deg, yellow, #ff3000);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin: 2px 0px;
  }
  .blah{
    margin-top: 10px;
  }
  .Reactaddons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    background: rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    padding: 15px;
    margin-top: 10px;
  }
  .box{
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
  }
  .b{
    background: linear-gradient(50deg, yellow, #ff3000);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 24px;
    font-weight: 800;
  }
  /* Styling Of Our Brand New Buttons 😉 */
.btn {
  padding: 15px 20px;
  width: 40%;
  border: none;
  border-radius: 35px;
  background: #ff3000;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.6s;
  font-family: "Nunito", sans-serif;
}
.btn:hover {
  background: rgba(225, 225, 225, 0.2);
  backdrop-filter: blur(10px);
}
.black{
  color: #020e4a;
  padding: 15px 20px;
  width: 40%;
  border: none;
  border-radius: 35px;
  background: #ff3000;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.6s;
  font-family: "Nunito", sans-serif;
}
.black:hover {
  background: #020e4a;
  color: #ff3000;
  backdrop-filter: blur(10px);
}
.btnwithborder {
  padding: 15px 20px;
  width: 40%;
  border: none;
  border-radius: 35px;
  border: 1px solid #ff3000;
  color: #ff3000;
  background: transparent;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.6s;
  font-family: "Nunito", sans-serif;
  margin-left: 5px;
}
.btnwithborder:hover {
  background: rgba(225, 225, 225, 0.2);
  backdrop-filter: blur(10px);
}
.p {
  color: white;
  font-size: 15px;
  font-weight: 200;
  font-family: Nunito;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 10px;
  margin-top: 10px;
}
/* 2nd Section Design Starts From Here  */
.coursesSecond {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: url(../public/section2bg.png);
}
.twocolnext {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
}
.leftcol2 {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px;
}
.rightcol2 {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 1;
  border-radius: 6px;
  overflow: hidden;
  background: #ff3000;
  animation: upperneche 6s ease-in-out infinite;
}
.h1next{
  font-size: 34px;
    font-weight: 700;
    font-family: Nunito;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    background: linear-gradient(50deg, yellow, #ff3000);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin: 2px 0px;
    text-align: right;
}
.h1nex2{
  font-size: 34px;
    font-weight: 700;
    font-family: Nunito;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    color: #fff;
    margin: 2px 0px;
    text-align: left;
}
.pnext{
  text-align: left;
  color: #fff;
}
.aligncenter{
  margin-left: 160px;
  margin-top: 10px;
}
.boxnext{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  background: #fff;
  cursor: pointer;
  transition: all 0.6s;
}
.boxnext:hover{
  transform: translateY(-20px);
}
.Reactaddonsnext{
  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    margin-top: 10px;
}
.sizeimg{
  width: 50%;
  height: auto;
}
/* 3rd Section Design Starts From Here  */
.coursesThird{
    height: auto;
    width: 100%;
    background: url(../public/bg-mock.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.coursesFourth{
  height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.topcoursesThird{
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 70%;
  margin: 0 auto;
}
.deem3{
  padding: 5px;
    border: none;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    color: navy;
    width: 290px;
    margin: 2px auto;
    text-align: center;
}
.thirdh1{
  font-size: 34px;
    font-weight: 700;
    font-family: Nunito;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    background: linear-gradient(90deg, blue, #ff3000);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin: 2px 0px;
    text-align: center;
}
.projectsbox{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  gap: 10px;
  width: 100%;
  margin: 0 auto;
}
.alignequal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.input{
  padding: 10px;
  border-radius: 7px;
  border: 0.1px solid silver;
  outline: none;
  width: 100%;
}
.select{
  padding: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: relative;
  left: 450px;
}
.btn2{
  padding: 10px;
  width: 50%;
  margin: 10px auto;
  background: linear-gradient(90deg, gold, #ff3000);
  color: #fff;
  border: none;
  border-radius: 34px;
}
.btn2:hover{
  background: #ff3000;
  color: #020e4a;
}
.projectsbox5{
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
  gap: 10px;
  width: 100%;
  margin: 0 auto;
}
.box3{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 365px;
    height: 186px;
    box-shadow: 0 2px 10px hsl(0deg 0% 70% / 35%);
    border-radius: 10px;
    background-color: #fff;
    margin-top: 10px;
    transition: all .6s;
    cursor: pointer;
}
.box3:hover{
  transform: translateY(-20px);
}
.box4{
  display: grid;
  place-items: center;
  text-align: center;
    transition: all .6s;
    cursor: pointer;
}
.box4:hover{
  transform: translateY(-20px);
}
.icon{
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 10px auto;
  background: lightpink;
  color: red;
  border-radius: 50%;
}
.icon2{
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 10px auto;
  background: lightgreen;
  color: mediumseagreen;
  border-radius: 50%;
}
.icon3{
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 10px auto;
  background: lightgoldenrodyellow;
  color: orange;
  border-radius: 50%;
}
.h23{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.p3{
  text-align: center;
  font-weight: 400;
}
.p4{
  color: #333;
  text-align: left;
}
.plans{
  padding: 10px;
  backdrop-filter: blur(10px);
  background-color: #fff;
  box-shadow: 0 2px 10px hsl(0deg 0% 70% / 35%);
  border-radius: 10px;
  text-align: center;
}
.plansico{
  font-size: 1.5rem;
  color: navy;
}
.cent{
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
.purchase {
  width: 100%;
  margin: 20px auto;
  padding: 10px;
}
.purchaseleft {
  width: 80%;
  box-shadow: 0 2px 10px rgba(178, 178, 178, 0.35);
  border-radius: 10px;
  background-color: #f7f5f2;
  margin: 10px auto;
  padding: 20px;
}
.grid3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.grid4{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.grid2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.hidecorosl{
  display: none;
}
.purchaseright {
  width: 563px;
  box-shadow: 0 2px 10px rgba(178, 178, 178, 0.35);
  border-radius: 10px;
  background-color: #f7f5f2;
  margin-top: 10px;
  margin-left: 7px;
  padding: 20px;
}
.h2purchase {
  color: #020e4a;
  background-color: #f7f5f2;
  padding: 20px;
  border-radius: 6px;
  width: 40%;
  margin: 0 auto;
  font-family: Nunito;
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  margin-bottom: 10px;
}
.purchasetopcard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 137px;
  box-shadow: 0 2px 10px rgba(178, 178, 178, 0.35);
  border-radius: 10px;
  padding: 5px;
  overflow: hidden;
  background-color: #ffffff;
}
.purchasetopcard3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 137px;
  box-shadow: 0 2px 10px rgba(178, 178, 178, 0.35);
  border-radius: 10px;
  padding: 5px;
  overflow: hidden;
  background-color: #ffffff;
}
.topcardbox{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  margin: 10px 20px;
}
.topcardboximg{
  width: 38px;
height: 36px;
  background: url(../public/passage-of-time.png);
  background-repeat: no-repeat;
  background-size: 90%;
  margin-right: 10px;
}
.topcardboximg1{
  width: 38px;
height: 36px;
  background: url(../public/calendar.png);
  background-size: 90%;
  background-repeat: no-repeat;
  margin-right: 10px;
}
.topcardboximg2{
  width: 38px;
height: 36px;
  background: url(../public/reader.png);
  background-repeat: no-repeat;
  margin-right: 10px;
}
.topcardboximg3{
  width: 38px;
height: 36px;
  background: url(../public/presentation.png);
  background-size: 100%;
  background-repeat: no-repeat;
  margin-right: 10px;
}
.topcardboximg4{
  width: 38px;
height: 36px;
  background: url(../public/question.png);
  background-size: 100%;
  background-repeat: no-repeat;
  margin-right: 10px;
}
.basicfeatures {
  width: 100%;
  box-shadow: 0 2px 10px rgba(178, 178, 178, 0.35);
  border-radius: 10px;
  background-color: #ffffff;
  margin-top: 10px;
  padding: 20px;
}
.justatext {
  color: #020e4a;
  font-family: Nunito;
  font-size: 22px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}
.ul {
  list-style-image: url(../public/tick.png);
  margin-top: 10px;
}
.li {
  padding: 5px;
}
.nextpower{
  margin: 30px 0px;
}
.h1blow {
  color: #020e4a;
  font-family: Nunito;
  font-size: 32px;
  font-weight: 700;
  margin-top: 10px;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}
.bottompurchase {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  margin-top: 20px;
}
.buybtn {
  padding: 20px 50px;
  width: 100%;
  color: #f7f5f2;
  border: none;
  border-radius: 34px;
  cursor: pointer;
  background-color: #ff3000;
}
.buybtn:hover {
  box-shadow: 0 2px 10px rgba(178, 178, 178, 0.35);
  background: #020e4a;
  color: #ff3000;
}
.psmall{
  font-size: 14px;
}
.smalltext2{
  font-size: 12px;
  color: #020e4a;
}
.batchinfo{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 60px;
  padding: 10px;
  background: linear-gradient(45deg, orange, #ff3000);
  color: #f7f5f2;
  border-radius: 6px;
}
.h2purchaseright {
  color: #020e4a;
  font-family: Nunito;
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}
.purchaserightbox1 {
  width: 100%;
  box-shadow: 0 2px 10px rgba(178, 178, 178, 0.35);
  border-radius: 10px;
  margin-top: 10px;
  background-color: #ffffff;
  padding: 10px;
}
.purchaserightbox1 {
  width: 100%;
  box-shadow: 0 2px 10px rgba(178, 178, 178, 0.35);
  border-radius: 10px;
  margin-top: 10px;
  background-color: #ffffff;
  padding: 10px;
  }
  .righttextbox {
  color: #020e4a;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  }
  .p5 {
  color: #000000;
  font-family: Nunito;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  }
  .kuchnahi {
  width: 100%;
  cursor: pointer;
  }
  .h2nox {
  color: #020e4a;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  padding: 2px;
  }
.nox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.noxbtn {
  padding: 10px 20px;
  margin: 30px auto;
  text-align: center;
  border-radius: 29px;
  border: none;
  background-color: #ff3000;
  color: #e7f8f5;
}
.noxbtn:hover {
  box-shadow: 0 2px 10px rgba(178, 178, 178, 0.35);
}
/* Slider Section  */
.feedbackbox{
  display: flex;
  flex-direction: column;
  width: 500px;
  border-radius: 14px;
  padding: 10px;
  height: 285px;
  gap: 10px;
  margin: 10px auto;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}
.ImagePic{
  width: 55px;
  height: 55px;
  background: url(../public/Harshita.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  border-radius: 50%;
}
.ImagePic2{
  width: 55px;
  height: 55px;
  background: url(../public/asrf.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  border-radius: 50%;
}
.ImagePic3{
  width: 55px;
  height: 55px;
  background: url(../public/Raushan.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  border-radius: 50%;
}
.ImagePic4{
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  border-radius: 50%;
}
.picandtittle{
  width: 100%;
  height: 90px;
  padding: 5px;
  display: grid;
  place-content: center;
  grid-template-columns: 13% 87%;
  text-align: left;
}
.textaboutfeed{
  width: 100%;
  padding: 5px;
}
/* Last Section  */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .courses{
    background-size: cover;
    height: auto;
    padding-top: 50px;
    padding-bottom: 40px;
  }
  .twocol {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .btn, .btnwithborder{
    width: 100%;
    margin: 10px auto;
  }
  .HeroImg{
    width: 400px;
    height: 400px;
  }
  .Reactaddons{
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .coursesSecond{
    flex-direction: column;
  }
  .twocolnext{
    grid-template-columns: 1fr;
  }
  .projectsbox{
    grid-template-columns: 1fr;
    width: 100%;
  }
  .grid2, .grid3, .grid4{
    grid-template-columns: 1fr;
  }
  .aligncenter{
    width: 311px;
    margin: 0 auto;
    height: fit-content;
  }
  .h1next{
    text-align: center;
    margin: 0;
  }
  .purchaseleft{
    width: 100%;
  }
  .h2purchase{
    width: 100%;
  }
  .purchasetopcard3{
    height: auto;
  }
  .black{
    width: 100%;
  }
  .topcoursesThird{
    width: 100%;
  }
  .projectsbox5{
    width: 100%;
    overflow: hidden;
  }
  .buybtn{
    padding: 20px 40px;
  }
  .feedbackbox{
    width: 95%;
    height: auto;
  }
  .abouttext{
    margin-left: 30px;
  }
}