.Registration{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../public/animated-bg.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.SelectBatch{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../public/animated-bg.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.white{
    color: aliceblue;
}
.twocol{
    width: 70%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: rgba(225,225,225,0.1);
    backdrop-filter: blur(10px);
    box-shadow: -1px -1px 20px 2px rgba(0,0,0,0.1);
    place-content: center;
    padding: 10px 10px;
    border-radius: 7px;
    margin: 70px auto;
    color: #fff;
}
.h1{
    font-size: 48px;
  font-weight: 700;
  font-family: Nunito;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
 color: aliceblue;
}
.h2{
    font-size: 28px;
  font-weight: 700;
  font-family: Nunito;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
 color: mediumseagreen;
 text-align: center;
}
.btn{
    padding: 10px 40px;
    border-radius: 34px;
    cursor: pointer;
    border: none;
    background: linear-gradient(90deg, orange, #ff3300);
    transition: all 0.6s;
}
.btn:hover, .btn:active{
    background: #000;
    color: #fff;
}
.leftside{
    padding: 10px;
}
.rightside{
    background: rgba(225,225,225,0.1);
    backdrop-filter: blur(10px);
    box-shadow: -1px -1px 20px 2px rgba(0,0,0,0.1);
    border: none;
    border-radius: 7px;
    width: 100%;
    margin: 0 auto;
    height: auto;
}
.alignequal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
.input{
    padding: 10px;
    border-radius: 7px;
    border: 0.1px solid silver;
    outline: none;
    width: 100%;
}
.icons{
    font-size: 1.4rem;
    cursor: pointer;
}
.icons:active{
    background: rgba(225,225,225,0.1);
    color: mediumspringgreen;
}
.forgot{
    border-radius: 7px;
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
    color: mediumaquamarine;
    text-decoration: underline;
}
.Padd{
    padding: 10px 2px;
    border: none;
    outline: none;
    border-radius: 7px;
}
.basicfeatures {
    width: 100%;
    box-shadow: 0 2px 10px rgba(178, 178, 178, 0.35);
    border-radius: 10px;
    background-color: aliceblue;
    margin-top: 10px;
    padding: 20px;
  }
  .b{
    background: linear-gradient(50deg, yellow, #ff3000);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 12px;
    font-weight: 800;
  }
  .b1{
    background: linear-gradient(50deg, yellow, #ff3000);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 32px;
    font-weight: 800;
  }
  .batchinfo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 60px;
    padding: 10px;
    background: linear-gradient(45deg, orange, #ff3000);
    color: #f7f5f2;
    border-radius: 6px;
  }
  .smalltext2{
  font-size: 12px;
  color: #020e4a;
}
  .select{
    padding: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    right: 30px;
  }
  .p{
    color: #333;
  }
@media only screen and (max-width: 768px) {
    .Registration{
        height: auto;
    }
    .SelectBatch{
        height: auto;
    }
    .twocol{
        grid-template-columns: 1fr;
        width: 98%;
        padding: 10px;
        height: auto;
    }
    .leftside{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .rightside{
        width: 90%;
    }
    .select{
        right: 8%;
    }
}